<%- include("content/header.ejs") %>

<h1>About Me</h1>

<p>
    Hi! I'm Lap Pham.
    I'm studing at San Francisco State University and majoring in Computer Science.
</p>
<%- include("content/footer.ejs") %>