<%- include("content/header.ejs") %>

<body>
    <div class="slide-container">
      <div class="slide-content">
        <div class="card-container">
          <div class="card">
            <div class="image-content">
              <div class="overlay"></div>
              <div class="card-image">
                <img
                  src="https://nickelodeonuniverse.com/wp-content/uploads/Spongebob.png"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Jeremy Chuang</h2>

              <p class="description"></p>
            </div>
          </div>
          <div class="card">
            <div class="image-content">
              <div class="overlay"></div>
              <div class="card-image">
                <img
                  src="https://pic.nximg.cn/file/20201207/32520634_154350964793_2.jpg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Lap Pham</h2>

              <p class="description"></p>
            </div>
          </div>
          <div class="card">
            <div class="image-content">
              <div class="overlay"></div>
              <div class="card-image">
                <img
                  src="https://pic57.photophoto.cn/20201209/0005018333397290_b.jpg"
                  alt=""
                  class="card-img"
                />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Garvin Zhao</h2>

              <p class="description"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<%- include("content/footer.ejs") %>