<%- include("content/header.ejs") %>

<h1>Send Feedback </h1>
<form action="/send-email" method="POST">
   
    <div>
        <label for="subject">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    </div>
    <button type="submit">Send Email</button>
</form>

<%- include("content/footer.ejs") %>
