<%- include("content/header.ejs") %>

<h1>Login to See and Add</h1>
  <form action="/auth/google" method="GET">
      <input id="button" type="submit" value="Log In">
  </form>

  
<%- include("content/footer.ejs") %>